<!DOCTYPE HTML>
<html>
<head>
    <title>Purple_loginform Website Template | Home :: w3layouts</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- -->
    <script>var __links = document.querySelectorAll('a');function __linkClick(e) { parent.window.postMessage(this.href, '*');} ;for (var i = 0, l = __links.length; i < l; i++) {if ( __links[i].getAttribute('data-t') == '_blank' ) { __links[i].addEventListener('click', __linkClick, false);}}</script>
    <script src="myJs/jquery.min.js"></script>
    <script>$(document).ready(function(c) {
        $('.alert-close').on('click', function(c){
            $('.message').fadeOut('slow', function(c){
                $('.message').remove();
            });
        });
    });
    </script>
</head>
<body>
<div id="cho">


        <input type="submit" onclick='location.href=("/different")' value="差分分析" id="sub1">



        <input type="submit" onclick='location.href=("/liner")' value="线性分析" id="sub2">



        <input type="submit" onclick='location.href=("/impossible")' value="不可能差分分析" id="sub3">


        <input type="submit" onclick='location.href=("/zero")' value="零相关线性分析" id="sub4">

        <input type="submit" onclick='location.href=("/base")' value="基于可分析的积分分析" id="sub5">
</div>
<!-- contact-form -->

<div class="clear"> </div>
<!--- footer --->
<div class="footer">
    <p>自动化分析平台.</p>
</div>


</body>
</html>