<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class= "externalHtml"></div>
<script type="application/javascript">
    function reloadView(){
        $.ajax({
            url:'/diffDir',
            type:'GET',
            async:true,    //或false,是否异步
            success:function(result){
                $('.externalHtml').html(result);


            },
            error: function (XMLHttpRequest, txtStatus, errorThrown)
            {
                //alert(XMLHttpRequest + "<br>" + txtStatus + "<br>" + errorThrown);
            }
        });
    }
    setInterval(reloadView(),3000);

</script>

</body>
</html>